# Following the CODEOWNERS syntax
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#codeowners-syntax

# General pull requests
*       @IgniteDataSolutions/up-product-owners